:root{
    --nav-bg-color: rgb(5, 111, 197);
    --nav-padding: 10px;
    --h1-color: steelblue;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




nav {
    background-color: var(--nav-bg-color);
    padding: (--nav-padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    padding: 10px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

P {
    padding: 10px;
}

main {
    max-width: 840px;
    /* padding-left: 20px */
}

aside {
    width: 20rem;
    /*margin: 1rem;*/
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    /*padding: 1rem;*/
    /* background-color: #eee; */
    /* color: #333; */
    text-align: center;
}
aside h2 {
    position: relative;
    top: 0;
    left: 10px;
    
}
aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}
/* Here is the end of week2 activity */

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}